html, body {
    font-family: sans-serif, arial;
}

section#game div.cat div.counter {
    font-size: 20px;
    background: lightgray;
    color: #000;
    padding:10px 20px;
    text-align: right;
}

section#game div.cat img {
    cursor: pointer;
    max-width: 100%;
}

section#game ul#cat-list li:hover {
    cursor: pointer;
    font-weight: bold;
}