html, body {
    font-family: sans-serif, arial;
}


section#game  {
    display:inline-block;
}

section#game div.cat {
    display: inline;
    max-width: 49.8%;
    width: 49%;
    position: relative;
}

section#game div.cat div.counter {
    position: absolute;
    bottom:20px; right: 20px;
    font-size: 40px;
    background: #000;
    color: #fff;
    padding:10px 20px;
}

section#game div.cat img {
    cursor: pointer;
}